//- 使用pug第五个实例: mixin函数方式渲染 ( 完成笔记 )
    a) mixin函数渲染
        0. 创建函数
            mixin xxx( x,y )
                div.xxx= x
        1. 使用函数
            +xxx(xx.yy)
    b) pug下使用if判断逻辑渲染
    c) class标签增加类名方法
        0. 示例:
            div.xxx
            class=`yyy`
        1. 相当于:
            div.xxx.yyy
        2. 优势: 可以些js变量


extends base



//- 渲染旅游信息
mixin handleMixinOverviewBox( label, text, icon )
    div.overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label 
        span.overview-box__text= text 
//- 渲染导游
mixin handleMixinOverviewBoxDetail( label, text, img )
    div.overview-box__detail
        img.overview-box__img(src=img, alt=label)
        - if( label === "lead-guide" )
            span.overview-box__label= "Lead guide"
        - if( label === "guide" ) 
            span.overview-box__label= "Tour guide"
        span.overview-box__text= text
//- 渲染评论
mixin handleMixinReviewsCard( name, avatra, review, rating )
    div.reviews__card
        div.reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${avatra}`,alt=`${name}`)
            h6.reviews__user= name
        p.reviews__text= review
        div.reviews__rating
            //- 评论星星渲染逻辑
            each item in [1,2,3,4,5]
                svg.reviews__star( class=`reviews__star--${ rating >= item ? "active" : "inactive" }`) 
                    use(xlink:href="/img/icons.svg#icon-star")

//- 示例: 给block追加代码 ( 完成笔记 )
block append head
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/mapbox-gl@2.6.1/dist/mapbox-gl.min.css")


block content 
    //- #旅游项目标题
    section.section-header
        div.header__hero
            div.header__hero-overlay &nbsp;
            img.header__hero-img(src='/img/tours/tour-5-cover.jpg',alt='Tour 5')

        div.heading-box
            h1.heading-primary
                span The Park <br /> Camper Tour 
            div.heading-box__group
                div.heading-box__detail
                    svg.heading-box__icon
                        use( xlink:href="/img/icons.svg#icon-clock" )
                    span.heading-box__text 10 day
                div.heading-box__detail
                    svg.heading-box__icon
                        use( xlink:href="/img/icons.svg#icon-map-pin" )
                    span.heading-box__text Las Vegas, USA
    //- #旅游相关信息
    section.section-description
        div.overview-box
            div
                div.overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    -const date = tourItem.startDates[0].toLocaleString( "en-us", { month: "long", year: "numeric" } )
                    +handleMixinOverviewBox( "Next date", date, "calendar"  )
                    +handleMixinOverviewBox( "Difficulty", tourItem.difficulty, "trending-up"  )
                    +handleMixinOverviewBox( "Participants", `${tourItem.maxGroupSize} people`, "user"  )
                    +handleMixinOverviewBox( "Rating", `${tourItem.ratingsAverage} / 5`, "star"  )
                div.overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each item in tourItem.guides
                        +handleMixinOverviewBoxDetail( item.role, item.name, `/img/users/${item.photo}` )
        div.description-box
            h2.heading-secondary.ma-bt-lg= `About ${tourItem.name} tour`
            //- 根据换行符加工渲染
            - const descriptionArray = tourItem.description.split("\n")
            each item in descriptionArray
                p.description__text= item 
    //- #风景图
    section.section-pictures
        each item,index in tourItem.images
            div.picture-box
                img( src=`/img/tours/${item}`, alt=`The Park Camper Tour ${index+1}`).picture-box__img
                class=`picture-box__img--${index+1}`
    section.section-map
        div#map( data-locations=`${JSON.stringify(tourItem.locations)}` )
    //- #评论
    section.section-reviews
        div.reviews
            div.reviews__card
                div.reviews__avatar
                    img.reviews__avatar-img(src="/img/users/user-7.jpg",alt="Jim Brown")
                    h6.reviews__user Jim Brown
                p.reviews__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos sint quo commodi corrupti accusantium veniam saepe numquam.
                div.reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(xlink:href="/img/icons.svg#icon-star")
                    svg.reviews__star.reviews__star--active
                        use(xlink:href="/img/icons.svg#icon-star")
            each item in tourItem.reviews
                +handleMixinReviewsCard( item.userId.name, item.userId.photo, item.review, item.rating )
    section.section-cta
        div.cta
            div.cta__img.cta__img--logo
                img(src="/img/logo-white.png",alt="Natours logo" )
            img.cta__img.cta__img--1(src=`/img/tours/${tourItem.images[0]}`,alt="")
            img.cta__img.cta__img--2(src=`/img/tours/${tourItem.images[1]}`,alt="")
            div.cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `${tourItem.duration} days. 1 adventure. Infinite memories. Make it yours today!`
                button.btn.btn--green.span-all-rows Book tour now!
    //- js文件 
    script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js") 
    script(src="https://cdn.jsdelivr.net/npm/mapbox-gl@2.6.1/dist/mapbox-gl.min.js") 
    script(src="/js/mapbox.js") 





    



                
